* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
  overflow: auto;
}

body {
  background-color: #BFBFEA;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 50px;
}

.hidecontent {
  display: none;
}

#myaccordion label {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: block;    
  padding: 8px 22px;
  margin: 10px 0px 1px 0px;
  cursor: pointer;
  background: #5f75a4;
  color: #FFF;
  transition: ease .5s;
  font-size: 0.6rem;
}
#myaccordion label:hover {
  /* background: #5f75ff; */
  background: #e78d31;
}

.content {
  background: #ffff;
  padding: 10px 25px;
  margin: -1 0 0 0;
  cursor: pointer;
  transition: ease .5s;
}

#myaccordion input:checked + label + .content {
  display: block;
  webkit-animation: fadeIn 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -moz-animation: fadeIn 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -o-animation: fadeIn 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  animation: fadeIn 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.title {
  color: #fff;
  text-shadow: 0.1px 0.1px 6px rgb(97, 87, 132);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.meme-img {
  display: block;
  margin: 0 auto;
  width: 50%;
}